/* variables */
.border-grey {
  border: 1px solid grey;
}
.gradient-grises {
  background: #F8F8F8;
  background: -moz-linear-gradient(center top, #f8f8f8 0%, #d6d6d6 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #d6d6d6 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #d6d6d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #d6d6d6));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #d6d6d6 100%);
  background: linear-gradient(top, #f8f8f8 0%, #d6d6d6 100%);
}
.gradient-azul {
  background: #6298F1;
  background: -moz-linear-gradient(top, #6298f1 0%, #2d6ad9 100%);
  background: -ms-linear-gradient(top, #6298f1 0%, #2d6ad9 100%);
  background: -o-linear-gradient(top, #6298f1 0%, #2d6ad9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6298f1), color-stop(100%, #2d6ad9));
  background: -webkit-linear-gradient(top, #6298f1 0%, #2d6ad9 100%);
  background: linear-gradient(top, #6298f1 0%, #2d6ad9 100%);
  color: white;
}
.content-search {
  margin: -7px;
  width: 500px;
}
.clear {
  display: block;
  clear: both;
}
#search_obra {
  width: 500px;
  overflow: hidden;
}
form {
  margin-bottom: 0px;
}
#text_search {
  padding: 5px;
  border: 1px solid grey;
  background: ivory;
  color: black;
  font-weight: bold;
  display: inline-block;
  width: 422px;
}
input[type="submit"] {
  width: 73px;
  padding: 5px;
  border: 1px solid grey;
  background: #6298F1;
  background: -moz-linear-gradient(top, #6298f1 0%, #2d6ad9 100%);
  background: -ms-linear-gradient(top, #6298f1 0%, #2d6ad9 100%);
  background: -o-linear-gradient(top, #6298f1 0%, #2d6ad9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6298f1), color-stop(100%, #2d6ad9));
  background: -webkit-linear-gradient(top, #6298f1 0%, #2d6ad9 100%);
  background: linear-gradient(top, #6298f1 0%, #2d6ad9 100%);
  color: white;
}
.step-links a {
  padding: 5px 10px;
  background: #6298F1;
  background: -moz-linear-gradient(top, #6298f1 0%, #2d6ad9 100%);
  background: -ms-linear-gradient(top, #6298f1 0%, #2d6ad9 100%);
  background: -o-linear-gradient(top, #6298f1 0%, #2d6ad9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6298f1), color-stop(100%, #2d6ad9));
  background: -webkit-linear-gradient(top, #6298f1 0%, #2d6ad9 100%);
  background: linear-gradient(top, #6298f1 0%, #2d6ad9 100%);
  color: white;
  text-decoration: none;
  font-size: 12px;
  border-radius: 2px;
}
.pagination {
  background: #F8F8F8;
  background: -moz-linear-gradient(center top, #f8f8f8 0%, #d6d6d6 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #d6d6d6 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #d6d6d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #d6d6d6));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #d6d6d6 100%);
  background: linear-gradient(top, #f8f8f8 0%, #d6d6d6 100%);
  padding: 8px;
  text-align: right;
  border: 1px solid grey;
}
table {
  border-spacing: 0;
  cursor: pointer;
  border-collapse: collapse;
  width: 500px;
}
td {
  color: #3c3c3c;
  cursor: default;
  font-size: 14px;
  margin: 0;
  padding: 5px;
  text-shadow: 1px 1px white;
  border: 1px solid grey;
}
.peq {
  width: 25px;
  text-align: center;
}
tbody tr:hover {
  background: #E3EFFC;
}
thead {
  background: #F8F8F8;
  background: -moz-linear-gradient(center top, #f8f8f8 0%, #d6d6d6 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #d6d6d6 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #d6d6d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #d6d6d6));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #d6d6d6 100%);
  background: linear-gradient(top, #f8f8f8 0%, #d6d6d6 100%);
  font-size: 12px;
  color: #636363;
}
thead th {
  padding: 8px;
  border: 1px solid grey;
}
.even {
  background: #f4f4f4;
}
.odd {
  background: #efefef;
}
